---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/committees?apikey=33cd5e2df2eb4195a3658362516ffa4a&member_ids=G000562
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"chamber":"senate","committee_id":"SSFR15","name":"Multilateral
        International Development, Multilateral Institutions, and International Economic,
        Energy, and Environmental Policy","parent_committee_id":"SSFR","subcommittee":true},{"chamber":"senate","committee_id":"SSCM24","name":"Space,
        Science, and Competitiveness","parent_committee_id":"SSCM","subcommittee":true},{"chamber":"senate","committee_id":"SSSB","name":"Senate
        Committee on Small Business and Entrepreneurship","subcommittee":false},{"chamber":"senate","committee_id":"SSEG","name":"Senate
        Committee on Energy and Natural Resources","subcommittee":false},{"chamber":"senate","committee_id":"SSEG03","name":"Public
        Lands, Forest[...]
