---
http_interactions:
- request:
    method: get
    uri: http://congress.api.sunlightfoundation.com/committees?apikey=33cd5e2df2eb4195a3658362516ffa4a&committee_id=SSGA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"chamber":"senate","committee_id":"SSGA","name":"Senate
        Committee on Homeland Security and Governmental Affairs","subcommittee":false}],"count":1,"page":{"count":1,"per_page":20,"page":1}}'
  recorded_at: Sun, 07 Aug 2016 06:58:50 GMT
recorded_with: VCR 3.0.3
