<h1><%= @legislator.full_name %>'s Committees </h1>
<% @committees.each do |com| %>
<p>
Name: <%= com.name %>
<br>Chamber: <%= com.chamber %>

<% if com.subcommittee == true %>
<br>Parent Committee: <%= Committee.parent_committee(com.parent_committee_id) %>
<% end %>
<% end %>
</p>
